h1, 
h2,
h3,
h4,
h5,
h6{
    letter-spacing: -0.035em;
    font-weight: 600!important;
    line-height: 1.2;
} 

.flex.flex-col.items-start.space-y-4 img{
    width: 48px;
}   

.flex.flex-col.items-start.space-y-4 h3{
    margin-bottom: 8px !important;
}
